[submodule "Middlewares/Third_Party/Middlewares/Third_Party/Micro-XRCE-DDS-Client"]
	path = Middlewares/Third_Party/Middlewares/Third_Party/Micro-XRCE-DDS-Client
	url = https://github.com/eProsima/Micro-XRCE-DDS-Client.git
[submodule "Middlewares/Third_Party/Micro-CDR"]
	path = Middlewares/Third_Party/Micro-CDR
	url = https://github.com/eProsima/Micro-CDR.git
